
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

img{
    display: block;
}

.container {
    width: 1158px;
    margin: 0 auto;
 
   
}
a {
    margin: 0;
    text-decoration: none;
}

li {
    margin: 0;
    list-style: none;
    padding-left: 0;
}


p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

span {
    margin: 0;
}
/*-----------------header-------------------------------------------------------------*/
.header-nav{
    display: flex;
    align-items: center;
}

header .container{

padding: 0 15px;
display: flex;
} 

.header{
    border-bottom: 1px solid #e7e9fc;
}


.header-logo{ 

font-weight: 700; 
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
font-family: "Raleway", sans-serif;
color: #4d5ae5;
margin: 0 76px 0 0;
}

.header-studio {
  
    color: #2e2f42;
    margin: 0;
}

.header-ul{
    display: flex;
    gap: 40px;
}

.header-menu-a{
    padding: 24px 0;
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-menu-a:hover {
color:#404bbf;
}
.header-menu-a:focus {
    color: #404bbf;
}

.email-tel{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}
.email-tel:hover {
color: #404bbf;
}
.email-tel:focus {
color: #404bbf;
}

.address{
    font-style: normal;
}

.address-ul{
    display: flex;
    gap: 40px;
}
/*-----------------/header-------------------------------------------------------------*/

/*------------------section one-----------------------------------*/ 

.section-one{
    background: #2e2f42;
padding: 188px 0;
text-align: center;
}



.effective-solutions{

font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 496px;
}


.order-service{
font-family: "Roboto", sans-serif;
justify-content: flex-start;
display: block;
margin: 0 auto;
background: #4d5ae5;
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.order-service:hover {
    background-color: #404BBF;
}

.order-service:focus {
background-color: #404BBF;
}




/*------------------/section one-----------------------------------*/

/*------------------section two-----------------------------------*/

.section-two{
    padding: 120px 0;
}




/*.section-two-htwo {
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;

}*/

.container .visually-hidden{
display: none;
overflow: hidden;
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}


.section-two-hthree{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-two-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  
}

.section-two-li{
    list-style: none;
    width: calc((100% - 72px) / 4);
}

.section-two-ul{
    display: flex;
    gap: 24px;
  
   
}

/*------------------/section two-----------------------------------*/

/*------------------section three-----------------------------------*/

.section-three-hthree-p{
padding: 32px 0;
}



.our-team-ul{
    display: flex;
     gap: 24px;
}   

.section-three{
    background: #f4f4fd;
    padding: 120px 0;
    
}
.section-three-htwo{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.section-three-li{
border-radius: 0px 0px 4px 4px;
        justify-content: center;
width: calc((100% - 72px) / 4);
            background: #fff;
}

.section-three-hthree{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-align: center;
        margin-bottom: 8px;
}

.section-three-p{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
       
}
/*------------------/section three-----------------------------------*/



/*------------------section fourth-----------------------------------*/

.section-fourth{
    padding: 120px 0;
}

.our-portfolio-htwo{
    margin-bottom: 72px;
    display: block;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-transform: capitalize;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.our-portfolio-hthree{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 8px;
}

.our-portfolio-p{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        
}

.our-portfolio-ul{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin: 0;
    padding-left: 0;
   
}

li .our-portfolio-li{
    border: 1px solid #e7e9fc;
    width: calc((100% - 48px) / 3);
    background: #fff;

        margin: 0;
        padding-left: 0;
    
}

.section-fourth-hthree-p{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}
/*------------------/section fourth-----------------------------------*/


/*------------------footer-----------------------------------*/


.footer{
    background: #2e2f42;
    padding-top: 100px;
        padding-bottom: 100px;
  
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    display: inline-block;
    margin-bottom: 16px;

}

.footer-studio{
    color: #f4f4fd; 
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
   
}
/*------------------/footer-----------------------------------*/